<%= notice %>

<%= render 'userinfo', user:@user,book:@books%>

      <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
        <table>
          <tbody>
            <tr>
              <td><%= image_tag @book.user.get_profile_image(100,100) %><br><%= link_to @book.user.name, user_path(@user) %></td>
              <td><%= @book.title %></td>
              <td><%= @book.body %></td>
              <% if @book.user == current_user %>
                <td><%= link_to "Edit", edit_book_path(@book), class:"btn btn-sm btn-success" %></td>
                <td><%= link_to "Destroy", book_path(@book), method: :delete, class:"btn btn-sm btn-danger", "data-confirm" => "本当に消しますか?" %></td>
              <% end %>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
